# Elasticsearch
ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTICSEARCH_USERNAME=pimcore_frontend
ELASTICSEARCH_PASSWORD=

# Pimcore API
PIMCORE_API_URL=http://skeleton.localhost
PIMCORE_CLIENT_ID=
PIMCORE_CLIENT_SECRET=
